<footer >
    <div class="footer_flex"> 
        <a href="https://github.com/jphill19">
            <img class="footer_logo" src="images/github.svg" alt="Github Logo">
        </a>
        <a href="https://www.linkedin.com/in/john-hill-309715245/">
            <img class="footer_logo" src="images/linkedin.svg" alt="Linkedin Logo">
        </a>
    </div>
    <div class="footer_flex">
        <p class="footer_text">© 2024 John Hill</p>
    </div>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/scripts/scripts_header.js"></script>
<!-- <script type="module" src="/scripts/ListenForUserInputs.js"></script> -->
<script  src="/scripts/scripts_home.js"></script>
</html>