<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/content.css">
    <title>Ash's Battles</title>
    <link rel="icon" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/25.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <!-- <div class="nav-container"> -->
        <nav class="nav-container">
            <a href="/" class="home_nav">
                <div id="nav-title">
                    <h1>A s h ' s  B a t t l e s </h1>
               
                </div>
            </a>
            <!-- <div class="logo_div"> -->
            <img class="logo" src=https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/25.svg alt="Pokeball Logo">
            <!-- </div>  -->
            <div id="menu">
                <button id="drop-button" class="hidden"><img id="dropSVG" class="dropSVG regular_box_sizing" src="images/list.svg"></button>
                <div id="menuholder" class="nav-links-container">
                    <a class="internal-link" href="/">Home</a></li>
                    <a class="internal-link" href="/record">Record</a></li>
                    <a class="internal-link margin_right" href="/master">Masters</a></li>
                </div>
            </div>           
        </nav>
    </header>


