<div id="loader" class="loader">Loading...</div>
<section class="master_record" id="content">
    <div id="master-8-intro" class="master-8-section">
        <h1 id="master-title" class="master_title"> Master Eight Tournament</h1>
        <img src="/images/master-8-tournament-image.png" class="master_image"> 
        <p class="copy_right ">The Pokemon Company</p>
        <p class="smaller_font">The Master Eight Series is the pinnacle of the Pokémon World Coronation Series, showcasing the top eight Pokémon trainers from around the globe. This prestigious tournament is where the best of the best compete in high-stakes battles to determine the ultimate Pokémon Champion. Each participant has proven their skill and strategy through rigorous competition, rising through the ranks from the Normal Class to the Master Class. </p>
        <p class="smaller_font">The Master Eight Series is a celebration of unparalleled talent, strategic prowess, and the deep bonds between trainers and their Pokémon. Witness electrifying matches, meet legendary trainers, and experience the thrill of elite Pokémon battles in the quest to crown the world's greatest Pokémon Master.</p>
        
        <h2 class="master_subtitle">Master Eight Class System</h2>
        <p class="smaller_font">The class system in the Pokémon World Coronation Series, which culminates in the Masters Eight Tournament, is designed to rank trainers from around the world based on their battle performance. The system is divided into four main classes:</p>
        <div class="master_class_system_grid">
            <h3 class="class_rank_title">Normal Class</h3>
            <div class="grid-column-2">
                <p class="smaller_font_class"><b>Global Ranks</b>: 1001 and above</p>
                <p class="smaller_font_class"><b>Description</b>: This is where trainers begin their journey in the World Coronation Series. Battles are often local, and trainers work to improve their rank by challenging others in this class.</p>
            </div>
            <img src="/images/pokeball/pokeball-master-8.jpeg" class="class_pokeball pokemon_saturation">
            <h3 class="class_rank_title">Great Class</h3>
            <div class="grid-column-2">
                <p class="smaller_font_class"><b>Global Ranks</b>: 1000 to 101</p>
                <p class="smaller_font_class"><b>Description</b>: Trainers who advance from the Normal Class enter the Great Class. This class features more competitive battles, and trainers are starting to make a name for themselves. The competition level is higher, and winning battles here significantly boosts a trainer's rank.</p>
            </div>
            <img src="/images/pokeball/greatball-master-8.jpeg" class="class_pokeball pokemon_saturation">
            <h3 class="class_rank_title">Ultra Class</h3>
            <div class="grid-column-2">
                <p class="smaller_font_class"><b>Global Ranks</b>: 100 to 9</p>
                <p class="smaller_font_class"><b>Description</b>: The Ultra Class represents the top tier of competitive trainers who are just below the elite. Battles here are intense and strategic, as trainers aim to break into the coveted Master Class. The level of skill and strategy required is much higher.</p>
            </div>
            <img src="/images/pokeball/ultraball-master-8.jpeg" class="class_pokeball pokemon_saturation">
            <h3 class="class_rank_title">Master Class</h3>
            <div class="grid-column-2">
                <p class="smaller_font_class"><b>Global Ranks</b>: Top 8</p>
                <p class="smaller_font_class"><b>Description</b>: The Master Class is the pinnacle of the Pokémon World Coronation Series, consisting of the top 8 trainers in the world. These trainers compete in a tournament format to determine the ultimate Champion. The Master Class is characterized by the highest level of competition, with each battle being a spectacle of skill, strategy, and powerful Pokémon.</p>
            </div>
            <img src="/images/pokeball/masterballl-master-8.jpeg" class="class_pokeball pokemon_saturation">
        </div>
        
        <h2 class="master_subtitle">Master Eight Trainers</h2>
        <p class="smaller_font">
            Achieving a place in the Master Eight is a monumental feat, representing years of dedication, training, and countless battles. Each trainer has proven their mettle by advancing through the rigorous class system and overcoming formidable opponents. Leon, ranked #1, is renowned for his strategic prowess and unbeaten battle record, setting the benchmark for excellence. Ash Ketchum, ranked #8, embodies perseverance, growth, and an unyielding spirit, showcasing his ability to adapt and push his limits. The rankings reflect the trainers' abilities, achievements, and the respect they command in the Pokémon community.
        </p>
        <p class="smaller_font">
            Below, you will find detailed trainer cards for each of the Master Eight contestants, highlighting their unique strengths, notable accomplishments, and the Pokémon that have helped them reach the pinnacle of the Pokémon World Coronation Series. Each battle in the tournament is a testament to the extraordinary talent and determination of these elite trainers, making it a spectacle for fans around the globe.
        </p>
        <div class="flex-centered" id="master-8-trainers">
            <div class="trainer-card" id="leon">
                <div class="leon-trainer-card-header">
                    <span class="higher-z-index">1. Leon ダンデ Dande <br>Master Champion</span>
                    <div class="flame" style="--rotate: 10deg; --left: 10%; --top: 20%; --width: 4px; --height: 23px;"></div>
                    <div class="flame" style="--rotate: -10deg; --left: 30%; --top: 85%; --width: 4px; --height: 25px;"></div>
                    <div class="flame" style="--rotate: 15deg; --left: 4%; --top: 83%; --width: 4px; --height: 22px;"></div>
                    <div class="flame" style="--rotate: -15deg; --left: 40%; --top: 90%; --width: 4px; --height: 20px;"></div>
                    <div class="flame" style="--rotate: 20deg; --left: 20%; --top: 40%; --width: 4px; --height: 26px;"></div>
                    <div class="flame" style="--rotate: -20deg; --left: 80%; --top: 25%; --width: 4px; --height: 24px;"></div>
                    <div class="flame" style="--rotate: 12deg; --left: 15%; --top: 70%; --width: 4px; --height: 21px;"></div>
                    <div class="flame" style="--rotate: -12deg; --left: 50%; --top: 95%; --width: 4px; --height: 28px;"></div>
                    <div class="flame" style="--rotate: 8deg; --left: 70%; --top: 10%; --width: 4px; --height: 19px;"></div>
                </div>
                <div class="trainer-card-body leon-color">
                    <div class="trainer-info">
                        <img src="/images/special_images/leon-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/Leon_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Galar Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Galar</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Charizard-Gigantamax</p>
                    
                            
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/Charizard_Gigantamax.webp" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Charizard-G</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/cinderace.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Cinderace</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/inteleon.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Inteleon</p>
                                </div>
                            </div>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/mr-rime.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Mr-Rime</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/dragapult.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Dragapult</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/rillaboom.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Rillaboom</p>
                                </div>
                                <!-- <img src="/images/pokemon_images/dragapult.png" class="card_pokemon pokemon_saturation;"> -->
                                <!-- <img src="/images/pokemon_images/rillaboom.png" class="card_pokemon pokemon_saturation;"> -->
                            </div>
                            <!-- <ul class="list-margins">
                                <li class="reduce_indent">Charizard</li>
                                <li class="reduce_indent">Dragapult</li>
                                <li class="reduce_indent">Haxorus</li>
                                <li class="reduce_indent">Aegislash</li>
                                <li class="reduce_indent">Seismitoad</li>
                                <li class="reduce_indent">Rhyperior</li>
                            </ul> -->
                            
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Undefeated Champion of the Galar League</li>
                                <li class="reduce_indent">Master of Dynamax and Gigantamax</li>
                            </ul>
                            
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Confident, Charismatic, Friendly</p>
                            
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"I'm Leon, the greatest Champion ever!"</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="trainer-card" id="cynthia">
                <div class="cynthia-trainer-card-header">
                    <span class="higher-z-index">2. Cynthia シロナ Shirona <br>Sinoh Champion</span>
                    <div class="flame_brighter" style="--rotate: 7deg; --left: 17%; --top: 30%; --width: 4px; --height: 21px;"></div>
                    <div class="flame_brighter" style="--rotate: -12deg; --left: 20%; --top: 95%; --width: 4px; --height: 24px;"></div>
                    <div class="flame_brighter" style="--rotate: 16deg; --left: 5%; --top: 10%; --width: 4px; --height: 20px;"></div>
                    <div class="flame_brighter" style="--rotate: -8deg; --left: 35%; --top: 70%; --width: 4px; --height: 22px;"></div>
                    <div class="flame_brighter" style="--rotate: 19deg; --left: 45%; --top: 90%; --width: 4px; --height: 25px;"></div>
                    <div class="flame_brighter" style="--rotate: -15deg; --left: 10%; --top: 50%; --width: 4px; --height: 23px;"></div>
                    <div class="flame_brighter" style="--rotate: 11deg; --left: 69%; --top: 35%; --width: 4px; --height: 26px;"></div>
                    <div class="flame_brighter" style="--rotate: -18deg; --left: 5%; --top: 99%; --width: 4px; --height: 27px;"></div>
                    <div class="flame_brighter" style="--rotate: 9deg; --left: 70%; --top: 65%; --width: 4px; --height: 19px;"></div>
                </div>
                <div class="trainer-card-body cynthia-color">
                    <div class="trainer-info">
                        <img src="/images/special_images/cynthia-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/Leon_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Sinnoh Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Sinnoh</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Garchomp</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/garchomp.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Garchomp</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/spiritom.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Spiritomb</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/milotic.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Milotic</p>
                                </div>
                            </div>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/gastrodon.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Gastrodon</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/roserade.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Roserade</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/togekiss.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Togekiss</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Sinnoh League</li>
                                <li class="reduce_indent">Renowned for her knowledge of myths and legends</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Wise, Elegant, Determined</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"I will show you the ultimate power of the Champion!"</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="trainer-card" id="steven">
                <div class="steven-trainer-card-header">
                    <span class="higher-z-index">3. Steven Stone ツワブキ・ダイゴ Daigo Tsuwabuki <br>Hoen Champion</span>
                    <div class="flame_deeper_color brighter" style="--rotate: 7deg; --left: 22%; --top: 84%; --width: 4px; --height: 25px; --radius: 150% 80% 90% 60%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: -15deg; --left: 13%; --top: 92%; --width: 3px; --height: 33px; --radius: 180% 120% 100% 70%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: 11deg; --left: 6%; --top: 5%; --width: 4px; --height: 24px; --radius: 160% 90% 80% 50%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: -5deg; --left: 36%; --top: 72%; --width: 5px; --height: 30px; --radius: 130% 100% 70% 40%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: 20deg; --left: 39%; --top: 95%; --width: 3px; --height: 36px; --radius: 170% 140% 110% 60%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: -10deg; --left: 17%; --top: 54%; --width: 4px; --height: 21px; --radius: 140% 110% 100% 80%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: 13deg; --left: 78%; --top: 37%; --width: 7px; --height: 45px; --radius: 180% 9% 43% 90%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: -18deg; --left: 4%; --top: 88%; --width: 4px; --height: 27px; --radius: 150% 90% 100% 70%"></div>
                    <div class="flame_deeper_color brighter" style="--rotate: 9deg; --left: 70%; --top: 65%; --width: 3px; --height: 17px; --radius: 160% 110% 90% 60%"></div>
                               
                </div>
                <div class="trainer-card-body steven-color">
                    <div class="trainer-info">
                        <img src="/images/special_images/steven-master-8.png" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/Leon_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Hoenn Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Hoenn</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Metagross-Mega</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/metagross-mega-shiny.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Metagross-M</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/aggron.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Aggron</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/cradily.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Cradily</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Hoenn League</li>
                                <li class="reduce_indent">Renowned Steel-type master</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Intelligent, Calm, Strategic</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"In the end, you will understand why I am the Champion."</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="trainer-card" id="lance">
                <div class="lance-trainer-card-header">
                    <span class="higher-z-index">4. Lance ワタル Wataru <br>Johto Champion</span>
                    <div class="flame" style="--rotate: 7deg; --left: 22%; --top: 94%; --width: 4px; --height: 25px;"></div>
                    <div class="flame" style="--rotate: -15deg; --left: 13%; --top: 92%; --width: 4px; --height: 23px;"></div>
                    <div class="flame" style="--rotate: 11deg; --left: 6%; --top: 5%; --width: 4px; --height: 24px;"></div>
                    <div class="flame" style="--rotate: -5deg; --left: 36%; --top: 72%; --width: 4px; --height: 20px;"></div>
                    <div class="flame" style="--rotate: 20deg; --left: 39%; --top: 95%; --width: 3px; --height: 26px;"></div>
                    <div class="flame" style="--rotate: -10deg; --left: 6%; --top: 54%; --width: 4px; --height: 21px;"></div>
                    <div class="flame" style="--rotate: 13deg; --left: 78%; --top: 37%; --width: 4px; --height: 22px;"></div>
                    <div class="flame" style="--rotate: -18deg; --left: 4%; --top: 88%; --width: 4px; --height: 27px;"></div>
                    <div class="flame" style="--rotate: 9deg; --left: 70%; --top: 65%; --width: 4px; --height: 19px;"></div> 
                    <div class="flame" style="--rotate: 19deg; --left: 73%; --top: 47%; --width: 4px; --height: 18px;"></div>
                    <div class="flame" style="--rotate: -12deg; --left: 18%; --top: 48%; --width: 4px; --height: 25px;"></div>
                    <div class="flame" style="--rotate: 9deg; --left: 40%; --top: 75%; --width: 3px; --height: 28px;"></div>                      
                </div>
                <div class="trainer-card-body lance-color">
                    <div class="trainer-info">
                        <img src="/images/special_images/lance-master-8.png" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/lance_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Johto Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Johto, Kanto</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Gyarados</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/gyarados-shiny.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Gyarados</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/dragonite.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Dragonite</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/hydreigon.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Hydreigon</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Johto League</li>
                                <li class="reduce_indent">Member of the Kanto Elite Four</li>
                                <li class="reduce_indent">Renowned Dragon-type master</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Courageous, Noble, Determined</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"With my dragons, I'll show you the true power of the Champion!"</p>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="trainer-card" id="diantha">
                <div class="diantha-trainer-card-header">
                    <span class="higher-z-index">5. Diantha カルネ Carne <br>Kalos Champion</span>
                    <div class="flame_deeper_color" style="--rotate: -12deg; --left: 15%; --top: 40%; --width: 3px; --height: 28px; --radius: 150% 180% 421% 923%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 8deg; --left: 25%; --top: 70%; --width: 4px; --height: 34px; --radius: 170% 130% 110% 60%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -20deg; --left: 45%; --top: 20%; --width: 2px; --height: 12px; --radius: 530% 100% 80% 40%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 15deg; --left: 35%; --top: 50%; --width: 6px; --height: 25px; --radius: 180% 150% 90% 50%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -5deg; --left: 55%; --top: 30%; --width: 5px; --height: 22px; --radius: 120% 140% 60% 30%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 10deg; --left: 10%; --top: 65%; --width: 7px; --height: 32px; --radius: 130% 110% 70% 20%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -18deg; --left: 50%; --top: 45%; --width: 6px; --height: 20px; --radius: 160% 120% 100% 80%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 5deg; --left: 20%; --top: 55%; --width: 3px; --height: 26px; --radius: 140% 130% 90% 70%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -10deg; --left: 60%; --top: 35%; --width: 5px; --height: 18px; --radius: 150% 170% 100% 50%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 12deg; --left: 30%; --top: 50%; --width: 4px; --height: 15px; --radius: 180% 140% 80% 40%;"></div>
               
                </div>
                <div class="trainer-card-body diantha-color">
                    <div class="trainer-info">
                        <img src="/images/special_images/diantha-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/lance_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Kalos Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Kalos</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Gardevoir Mega</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/mega-gardevoir.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Gardevoir-M</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/tyrantrum.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Tyrantrum</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/aurorus.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Aurorus</p>
                                </div>
                            </div>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/hawlucha.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Hawlucha</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/gourgeist.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Gourgeist</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/goodra.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Goodra</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Kalos League</li>
                                <li class="reduce_indent">Famed actress and fashion icon</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Graceful, Elegant, Strategic</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"Prepare yourself, for the beauty and strength of my Pokémon!"</p>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            <div class="trainer-card" id="alain">
                <div class="alain-trainer-card-header">
                    <span class="higher-z-index">6. Alain アラン Alan<br>Mega Evolution Master</span>
                    <div class="flame_deeper_color" style="--rotate: -12deg; --left: 15%; --top: 40%; --width: 3px; --height: 28px; --radius: 150% 180% 421% 923%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 8deg; --left: 25%; --top: 70%; --width: 4px; --height: 34px; --radius: 170% 130% 110% 60%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -20deg; --left: 45%; --top: 20%; --width: 3px; --height: 12px; --radius: 530% 100% 80% 40%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 15deg; --left: 35%; --top: 50%; --width: 3px; --height: 25px; --radius: 180% 150% 90% 50%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -5deg; --left: 55%; --top: 30%; --width: 4px; --height: 22px; --radius: 120% 140% 60% 30%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 10deg; --left: 10%; --top: 65%; --width: 3px; --height: 32px; --radius: 130% 110% 70% 20%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -18deg; --left: 50%; --top: 45%; --width: 4px; --height: 20px; --radius: 160% 120% 100% 80%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 5deg; --left: 20%; --top: 86%; --width: 6px; --height: 43px; --radius: 140% 5% 150% 13%;"></div>
                    <div class="flame_deeper_color" style="--rotate: -10deg; --left: 60%; --top: 35%; --width: 8px; --height: 18px; --radius: 150% 170% 100% 50%;"></div>
                    <div class="flame_deeper_color" style="--rotate: 12deg; --left: 30%; --top: 50%; --width: 7px; --height: 15px; --radius: 180% 140% 80% 40%;"></div>
               
                </div>
                <div class="trainer-card-body alain-colors">
                    <div class="trainer-info">
                        <img src="/images/special_images/alain-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/lance_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                            <div class="trainer-description">
                                <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Mega Evolution Guru</p>
                                <p class="trainer_description_p"><span class="section-title">Region:</span> Kalos</p>
                                <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Mega Evolution Trainer</p>
                                
                                <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Mega Charizard X</p>
                        
                                <p class="section-title">Team:</p>
                                <div class="flex-team-3-card">
                                    <div class="pokemon_card_display">
                                        <img src="/images/pokemon_images/charizard-X.png" class="card_pokemon pokemon_saturation;">
                                        <p class="card_pokemon_name">Charizard X</p>
                                    </div>
                                    <div class="pokemon_card_display">
                                        <img src="/images/pokemon_images/chesnaught.png" class="card_pokemon pokemon_saturation;">
                                        <p class="card_pokemon_name">Chesnaught</p>
                                    </div>
                                    <div class="pokemon_card_display">
                                        <img src="/images/pokemon_images/malamar.png" class="card_pokemon pokemon_saturation;">
                                        <p class="card_pokemon_name">Malamar</p>
                                    </div>
                                </div>
                        
                                <p class="section-title margin-top-adjusted">Accomplishments:</p>
                                <ul class="list-margins">
                                    <li class="reduce_indent">Master of Mega Evolution</li>
                                    <li class="reduce_indent">Top contender in the Kalos League</li>
                                </ul>
                        
                                <p class="section-title personality">Personality Traits:</p>
                                <p class="trainer_description_p personality">Determined, Strong-willed, Serious</p>
                        
                                <p class="section-title quote">Quote:</p>
                                <p class="trainer_description_p quote">"I will achieve victory with the power of Mega Evolution!"</p>
                            </div>
                        </div>
                    
                    
                    
                    
                </div>
            </div>
            <div class="trainer-card" id="iris">
                <div class="iris-trainer-card-header">
                    <span class="higher-z-index">7. Iris アイリス Iris<br>Unova Champion</span>
                    <div class="flame_iris_color" style="--rotate: -12deg; --left: 15%; --top: 40%; --width: 3px; --height: 28px; --radius: 150% 180% 421% 923%;"></div>
                    <div class="flame_iris_color" style="--rotate: 8deg; --left: 25%; --top: 34%; --width: 4px; --height: 34px; --radius: 170% 130% 110% 60%;"></div>
                    <div class="flame_iris_color" style="--rotate: -45deg; --left: 14%; --top: 95%; --width: 5px; --height: 32px; --radius: 160% 120% 300% 900%;"></div>
                    <div class="flame_iris_color" style="--rotate: 20deg; --left: 35%; --top: 60%; --width: 4px; --height: 30px; --radius: 140% 150% 200% 750%;"></div>
                    <div class="flame_iris_color" style="--rotate: -30deg; --left: 50%; --top: 80%; --width: 3px; --height: 28px; --radius: 180% 140% 250% 820%;"></div>
                    <div class="flame_iris_color" style="--rotate: 15deg; --left: 22%; --top: 65%; --width: 6px; --height: 36px; --radius: 170% 130% 210% 900%;"></div>
                    <div class="flame_iris_color" style="--rotate: -10deg; --left: 68%; --top: 50%; --width: 3px; --height: 29px; --radius: 150% 160% 190% 600%;"></div>
                    <div class="flame_iris_color" style="--rotate: 30deg; --left: 28%; --top: 75%; --width: 5px; --height: 35px; --radius: 200% 140% 300% 850%;"></div>
                    <div class="flame_iris_color" style="--rotate: -20deg; --left: 66%; --top: 65%; --width: 4px; --height: 32px; --radius: 160% 150% 290% 700%;"></div>
                    <div class="flame_iris_color" style="--rotate: 10deg; --left: 54%; --top: 66%; --width: 6px; --height: 33px; --radius: 180% 120% 280% 940%;"></div>
                    <div class="flame_iris_color" style="--rotate: 30deg; --left: 8%; --top: 75%; --width: 3px; --height: 35px; --radius: 200% 140% 300% 850%;"></div>
                    <div class="flame_iris_color" style="--rotate: -20deg; --left: 3%; --top: 65%; --width: 4px; --height: 32px; --radius: 160% 150% 290% 700%;"></div>
                    <div class="flame_iris_color" style="--rotate: 10deg; --left: 5%; --top: 93%; --width: 5px; --height: 33px; --radius: 180% 120% 280% 940%;"></div>
                    
                    
               
                </div>
                <div class="trainer-card-body iris-colors">
                    <div class="trainer-info">
                        <img src="/images/special_images/iris-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/lance_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Unova Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Unova</p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Champion</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Haxorus</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/haxorus.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Haxorus</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/excadrill.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Excadrill</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/dragonite.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Dragonite</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Unova League</li>
                                <li class="reduce_indent">Renowned Dragon-type master</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Energetic, Enthusiastic, Brave</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"I will unleash the full power of my dragons!"</p>
                        </div>
                    </div>
                    
                </div>
                    
                    
                    
                    
            </div>
            <div class="trainer-card" id="ash">
                <div class="ash-trainer-card-header">
                    <span class="higher-z-index">8. Ash Ketchum サトシ Satoshi<br>Alola Champion</span>
                    <div class="flame_ash_color" style="--rotate: -12deg; --left: 5%; --top: 40%; --width: 5px; --height: 28px; --radius: 150% 180% 421% 923%;"></div>
                    <div class="flame_ash_color" style="--rotate: 8deg; --left: 25%; --top: 95%; --width: 4px; --height: 24px; --radius: 170% 130% 110% 60%;"></div>
                    <div class="flame_ash_color" style="--rotate: -20deg; --left: 18%; --top: 33%; --width: 4px; --height: 27px; --radius: 160% 150% 300% 700%;"></div>
                    <div class="flame_ash_color" style="--rotate: 12deg; --left: 78%; --top: 45%; --width: 3px; --height: 27px; --radius: 14% 130% 250% 43%;"></div>
                    <div class="flame_ash_color" style="--rotate: -10deg; --left: 72%; --top: 53%; --width: 5px; --height: 29px; --radius: 140% 120% 270% 900%;"></div>
                    <div class="flame_ash_color" style="--rotate: 7deg; --left: 2%; --top: 50%; --width: 6px; --height: 33px; --radius: 150% 140% 220% 950%;"></div>
                    <div class="flame_ash_color" style="--rotate: -30deg; --left: 20%; --top: 55%; --width: 4px; --height: 19px; --radius: 180% 160% 290% 800%;"></div>
                    <div class="flame_ash_color" style="--rotate: 15deg; --left: 45%; --top: 87%; --width: 5px; --height: 23px; --radius: 170% 150% 210% 870%;"></div>
                    <div class="flame_ash_color" style="--rotate: -5deg; --left: 30%; --top: 75%; --width: 3px; --height: 25px; --radius: 160% 130% 280% 920%;"></div>
                    <div class="flame_ash_color" style="--rotate: 10deg; --left: 15%; --top: 40%; --width: 5px; --height: 29px; --radius: 150% 120% 260% 880%;"></div>
                    <div class="flame_ash_color" style="--rotate: -18deg; --left: 28%; --top: 60%; --width: 4px; --height: 21px; --radius: 160% 140% 270% 830%;"></div>
                    <div class="flame_ash_color" style="--rotate: 22deg; --left: 35%; --top: 65%; --width: 5px; --height: 13px; --radius: 170% 150% 250% 900%;"></div>
               
                </div>
                <div class="trainer-card-body ash-colors">
                    <div class="trainer-info">
                        <img src="/images/special_images/ash-master-8.jpeg" class="trainer-pokemon-img">
                        <!-- <img src="/images/trainer_images/lance_master_8_headshot.png" class="trainer-stance"> -->
                    </div>
                    <div class="trainer-info">
                        <div class="trainer-description">
                            <p class="trainer_description_p title_visibility"><span class="section-title">Title:</span> Alola Champion</p>
                            <p class="trainer_description_p"><span class="section-title">Region:</span> Kanto </p>
                            <p class="trainer_description_p"><span class="section-title">Trainer Class:</span> Pokémon Master</p>
                            
                            <p class="trainer_description_p"><span class="section-title">Signature Pokémon:</span> Pikachu</p>
                    
                            <p class="section-title">Team:</p>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/pikachu.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Pikachu</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/gengar.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Gengar</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/sirfetchd.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Sirfetch'd</p>
                                </div>
                            </div>
                            <div class="flex-team-3-card">
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/lucario-mega.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Lucario-M</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/dracovish.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Dracovish</p>
                                </div>
                                <div class="pokemon_card_display">
                                    <img src="/images/pokemon_images/dragonite.png" class="card_pokemon pokemon_saturation;">
                                    <p class="card_pokemon_name">Dragonite</p>
                                </div>
                            </div>
                    
                            <p class="section-title margin-top-adjusted">Accomplishments:</p>
                            <ul class="list-margins">
                                <li class="reduce_indent">Champion of the Alola League</li>
                                <li class="reduce_indent">Top 4 in the Sinnoh League</li>
                                <li class="reduce_indent">Top 8 in the Kalos League</li>
                            </ul>
                    
                            <p class="section-title personality">Personality Traits:</p>
                            <p class="trainer_description_p personality">Determined, Brave, Loyal</p>
                    
                            <p class="section-title quote">Quote:</p>
                            <p class="trainer_description_p quote">"I want to be the very best, like no one ever was!"</p>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="myModal" class="modal">
                <div class="modal-container">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <!-- Modal content will be inserted here -->
                    </div>
                </div>
            </div>

            </div>
            <h2 class="master_subtitle">Tournament Bracket</h2>
            <p class="smaller_font">
                The Master Eight Tournament follows a knockout format with specific rules for each round. In the first round, trainers use three Pokémon each. In subsequent rounds, they use six Pokémon. Trainers are limited to using only one power-up per battle, such as Mega Evolution, Z-Move, or Gigantamax. Victory is achieved by defeating all of the opponent's Pokémon. The results of each match are displayed below.
            </p>
        </div>
        
        
        






    </div>
    <div class="position-relative width_100" id="tournamentContainer">
        <div class="tournament">
            <div class="round quarterfinals">
                <div class="matchup">
                    <div class="team team-winner">
                        <img src="/images/trainer_images/ash_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/pikachu-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/pikachu.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dracovish.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/gengar.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link ash_button modal_button" data-target="ash">Ash</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class=" master_link ash_button modal_button" data-target="ash">Ash & Pikachu</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                    <div class="team">
                        <img src="/images/trainer_images/steven_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/metagross-mega-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/metagross-mega-shiny.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/aggron.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/cradily.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated steven_button modal_button" data-target="steven" >Steven</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link steven_button modal_button" data-target="steven" >Steven & Metagross-M</a></p>
                    </div>
                </div>
                <div class="matchup">
                    <div class="team">
                        <img src="/images/trainer_images/iris_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/haxorus-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/haxorus.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/excadrill.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dragonite.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated iris_button modal_button" data-target="iris" >Iris</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link iris_button modal_button" data-target="iris">Iris & Haxorus</a></p>
                      
                    </div>
                    <div class="team team-winner">
                        <img src="/images/trainer_images/cynthia_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/garchomp-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">

                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/garchomp-mega.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/gastrodon.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/milotic.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link cynthia_button modal_button" data-target="cynthia">Cynthia</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link cynthia_button modal_button" data-target="cynthia" >Cynthia & Garchomp</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                </div>
                <div class="matchup">
                    <div class="team team-winner">
                        <img src="/images/trainer_images/diantha_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/gardevoir-mega-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/mega-gardevoir.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/aurorus.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/gourgeist.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link diantha_button modal_button" data-target="diantha" >Diantha</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link diantha_button modal_button" data-target="diantha">Diantha & Gardevoir-M</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                    <div class="team">
                        <img src="/images/trainer_images/lance_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/gyarados-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/gyarados-shiny.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dragonite.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/hydreigon.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated lance_button modal_button" data-target="lance">Lance</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link lance_button modal_button" data-target="lance">Lance & Gyarados</a></p>
                        
                    </div>
                </div>
                <div class="matchup">
                    <div class="team">
                        <img src="/images/trainer_images/alain_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/charizard-mega-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">

                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/charizard-x.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/chesnaught.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/malamar.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated alain_button modal_button" data-target="alain">Alain</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link alain_button modal_button" data-target="alain">Alain & Charizard-X</a></p>
                    </div>
                    <div class="team team-winner">
                        <img src="/images/trainer_images/leon_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/charizard-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">

                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/charizard.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/rillaboom.png" class="bracket_pokemon">
                                <img src="/images/pokeball/pokeball.png" class="bracket_pokeball">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link leon_button modal_button" data-target="leon">Leon</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link leon_button modal_button" data-target="leon">Leon & Charizard</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                </div>
            </div>
            <div class="round semifinals">
                <div class="matchup matchup-winners top-match">
                    <div class="team team-winner one_and_half_height">
                        <img src="/images/trainer_images/ash_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/pikachu-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/pikachu.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/dragonite.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/gengar.png" class="bracket_pokeomon_smaller">
                                
                            </div>
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/dracovish.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/sirfetchd.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/lucario-mega.png" class="bracket_pokeomon_smaller">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link ash_button modal_button" data-target="ash">Ash</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link ash_button modal_button" data-target="ash">Ash & Pikachu</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                    <div class="team one_and_half_height">
                        <img src="/images/trainer_images/cynthia_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/garchomp-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/garchomp.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/spiritom.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/roserade.png" class="bracket_pokeomon_smaller">
                            </div>
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/togekiss.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/gastrodon.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/milotic.png" class="bracket_pokeomon_smaller">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated cynthia_button modal_button" data-target="cynthia">Cynthia</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link cynthia_button modal_button" data-target="cynthia" >Cynthia & Garchomp</a></p>
                    </div>
                </div>
                <img src="/images/pokeball/master_8_background.png" class="tournament_logo">

                <div class="matchup matchup-winners bottom-match">
                    <div class="team one_and_half_height">
                        <img src="/images/trainer_images/diantha_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/gardevoir-mega-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/mega-gardevoir.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/hawlucha.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/tyrantrum.png" class="bracket_pokeomon_smaller">
                            </div>
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/aurorus.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/gourgeist.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/goodra.png" class="bracket_pokeomon_smaller">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link  defeated diantha_button modal_button" data-target="diantha">Diantha</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link diantha_button modal_button" data-target="diantha">Diantha & Gardevoir-M</a></p>
                    </div>
                    <div class="team team-winner one_and_half_height">
                        <img src="/images/trainer_images/leon_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/charizard-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/Charizard_Gigantamax.webp" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/dragapult.png" class="bracket_pokeomon_smaller">
                                <img src="/images/pokemon_images/rillaboom.png" class="bracket_pokeomon_smaller">
                            </div>
                            <div class="flex-team-3 pokeballs_team">
                                <img src="/images/pokeball/pokeball.png" class="bracket_pokeball">
                                <img src="/images/pokeball/pokeball.png" class="bracket_pokeball">                                
                                <img src="/images/pokeball/pokeball.png" class="bracket_pokeball">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only"><a class="master_link leon_button modal_button" data-target="leon" >Leon</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link leon_button modal_button" data-target="leon">Leon & Charizard</a></p>
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                </div>
            </div>
            <div class="round final">
                <div class="matchup matchup-winners">
                    <div class="team twice_height team-winner">
                        <img src="/images/trainer_images/ash_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/pikachu-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/pikachu.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/Gengar-Gigantamax.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/sirfetchd.png" class="bracket_pokemon">
                            </div>
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/lucario-mega.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dracovish.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dragonite.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only champ_fight"><a class="master_link ash_button modal_button" data-target="ash">Ash</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link ash_button modal_button" data-target="ash">Ash & Pikachu</a></p>
                        <!-- <img src="/images/world_champ.png" class="champ"> -->
                        <!-- <img src="/images/pokeball/pokeball_crown.png" class="victor">   --> 
                    </div>
                    <div class="team twice_height">
                        <img src="/images/trainer_images/leon_master_8_headshot.png" class="headshot">
                        <div class="ace_only">
                            <img src="/images/pokemon_images/charizard-headshot.png" class="ace-headshot">
                        </div>
                        <div class="team-size">
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/Charizard_Gigantamax.webp" class="bracket_pokemon">
                                <img src="/images/pokemon_images/cinderace-gigantamax.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/inteleon.png" class="bracket_pokemon">
                            </div>
                            <div class="flex-team-3">
                                <img src="/images/pokemon_images/mr-rime.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/dragapult.png" class="bracket_pokemon">
                                <img src="/images/pokemon_images/rillaboom.png" class="bracket_pokemon">
                            </div>
                        </div>
                        <p class="team-paragraph trainer_only champ_fight"><a class="master_link defeated leon_button modal_button" data-target="leon">Leon</a></p>
                        <p class="team-paragraph trainer_and_ace hidden"><a class="master_link leon_button modal_button" data-target="leon">Leon & Charizard</a></p>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="bracketLines"></canvas>
    </div>
    <div class="master-8-section">
        <h2 class="master_subtitle">The Master Eight Champion</h2>
        <img src="/images/ash-ketchum-champ.webp" class="master_image" id="celebrationImg"> 
        <div class="smaller_font">
            <p>Ash Ketchum's journey has led to some of the most epic battles in Pokémon history, with his clash against Leon standing out as a true highlight. Leon, known for his undefeated record and respect for challengers, wanted to witness Ash's true potential. He requested an exception for their battle, allowing each Trainer to use every technique at their disposal. This unique opportunity highlighted Ash's incredible versatility and growth as a Trainer.</p>
          
            <p>The electrifying showdown culminated in a thrilling battle between Ash's Pikachu and Leon's Charizard, showcasing their mastery of powerful techniques. This battle was a testament to Ash's perseverance and the deep bond he shares with his Pokémon. His triumph not only marked a personal achievement but also inspired fans worldwide, proving that with determination and heart, anyone can achieve their dreams. Ash finally became the very best, that no one ever was.</p>
        </div>
    </div>
</section>