<section class="section_record width_100">
    <div class="flex_container width_100 padding_05">
        <h1 id='record_title' class="title "> Ash's Top Pokemon League Records</h1>
        <h2 class="sub_title "> Throughout 7 Different Regions</h2>

        <img src="/images/pokemon-25th-anniversary-logo-art.png" class="celebration_25_years" alt="Ash Ketchum">
        <p class="copy_right ">The Pokemon Company</p>
        <p class="paragraph-text "> Ash has been the main protagonist of the Pokémon franchise for 25 years, culminating in his final battle against Leon in the Master 8 tournament. To honor Ash's illustrious career, this overview details his historical record throughout every Pokémon League competition he has participated in.</p>
        <div id="battle_history" class="flex_container margin_bottom_2">
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Kanto Top 16</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">Ash's first Pokémon League competition was in the Kanto region, where he finished in the Top 16. His most notable battle was against <b>Ritchie</b> in the Indigo Plateau, where he narrowly lost in the quarterfinals.</p></div>
                    <div class="content_flex ">
                       <div class="trainer_3_grid trainer_background_left">
                            <p class="trainer_3_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ritchie</p><div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ritchie.png" class="ritchie_colors trainer_height trainer_image_border "></div></div>
                           <div class="justify_center pokemon-team-container adjust_size"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img id="pikachu" src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                            <!-- <img src="/images/trainer_images/ritchie.png" class="trainer_image trainer_height ritchie_colors vertical_align_center trainer_image_border align_center"> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Charmander</p><div class="image_sizing background-color-transparent-blur"><img id="charmander" src="/images/pokemon_images/charmander.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">ButterFree</p><div class="image_sizing background-color-transparent-blur"><img id="ButterFree" src="/images/pokemon_images/butterfree.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_3_grid trainer_background_right">
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p><div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_image.png" class="trainer_height trainer_image_border "></div></div>
                            <!-- <p class="trainer_intro trainer_intro_text justify_center vertical_align_bottom"><tag class="text-decoration-underline">Ash</p> -->
                            <p class="trainer_3_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                            <!-- <div class="trainer_image align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_image.png" class="trainer_height trainer_image_border "></div> -->
                           <div class="justify_center pokemon-team-container adjust_size"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img id="pikachu" src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Charizard</p><div class="image_sizing background-color-transparent-blur"><img id="charizard" src="/images/pokemon_images/charizard.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Squirtle</p><div class="image_sizing background-color-transparent-blur"><img id="squirtle" src="/images/pokemon_images/squirtle.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div >
                    </div>
                </div>
                
            </div>
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Johto Top 8</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Johto region, Ash finished in the Top 8 of the Silver Conference. His most memorable battle was against <b>Harrison</b> in the quarterfinals, where he lost in a close match.</p></div>
                    <div class="content_flex ">
                        <div class="trainer_6_grid trainer_background_left winning_trainer">
                            <p class="trainer_6_team justify_center pokemon_title team_6 "> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Harrison</p>  <div class="trainer_self_align_center ign_center trainer_sizing flex_container"><img src="/images/trainer_images/harrison.png" class="trainer_height trainer_image_border background-color-transparent"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Kecleon</p><div class="image_sizing background-color-transparent-blur"><img id="kecleon" src="/images/pokemon_images/kecleon.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Sneasel</p><div class="image_sizing background-color-transparent-blur"><img id="sneasel" src="/images/pokemon_images/sneasel.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Hypno</p><div class="image_sizing background-color-transparent-blur"><img id="hypno" src="/images/pokemon_images/hypno.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Steelix</p><div class="image_sizing background-color-transparent-blur"><img id="steelix" src="/images/pokemon_images/steelix.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Houndoom</p><div class="image_sizing background-color-transparent-blur"><img id="houndoom" src="/images/pokemon_images/houndoom.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Blaziken</p><div class="image_sizing background-color-transparent-blur"><img id="blaziken" src="/images/pokemon_images/blaziken.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_6_grid trainer_background_right">
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p>  <div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_image.png" class="trainer_height trainer_image_border "></div></div>
                            <p class="trainer_6_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img id="pikachu" src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Totodile</p><div class="image_sizing background-color-transparent-blur"><img id="totodile" src="/images/pokemon_images/totodile.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Snorlax</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/snorlax.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Noctowl</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/noctowl.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Bayleef</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/bayleef.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Charizard</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/charizard.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div>
                    </div>
                </div>

            </div>
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Hoen Top 8</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Hoenn region, Ash finished in the Top 8 of the Ever Grande Conference. His most memorable battle was against <b>Tyson</b> in the quarterfinals, where he lost in a close and intense match.</p></div>
                    <div class="content_flex ">
                        <div class="trainer_6_grid trainer_background_left">
                            
                            <p class="trainer_6_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Tyson</p>  <div class="trainer_self_align_center align_center trainer_sizing flex_container"><img src="/images/trainer_images/tyson.png" class="tyson_height trainer_image_border background-color-transparent sharp-image"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Meowth</p><div class="image_sizing background-color-transparent-blur flex-centered"><div class="meowth_sizing text-align-center background-color-transparent-blur"><img src="/images/pokemon_images/tysons_meowth.png" class="trainers_pokemon"></div></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Sceptile</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/sceptile.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Shiftry</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/shifty.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Hariyama</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/hariyama.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Metagross</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/metagross.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Donphan</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/donphan.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_6_grid trainer_background_right">
                            <!-- <p class="trainer_intro trainer_intro_text justify_center vertical_align_bottom"><tag class="text-decoration-underline">Ash</p> -->
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p>  <div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_hoen.webp" class="trainer_height trainer_image_border "></div></div>
                            <p class="trainer_6_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                            <!-- <div class="trainer_image align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_hoen.webp" class="trainer_height trainer_image_border "></div> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Glalie</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/glailee.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">torkoal</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/torkoal.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Corphish</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/corphish.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Swellow</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/swellow.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Grovyle</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/grovyle.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div>
                    </div>
                </div>

            </div>    
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Sinnoh Top 4</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Sinnoh region, Ash reached the Top 4 of the Lily of the Valley Conference. One of his most memorable battles was against <b>Paul</b> in the quarterfinals, where he fought in a thrilling and closely contested match,narrowly winning. His last opponent was Tobias, and the battle was heavily lopsided. Tobias only used two of his Pokémon: <i>Darkrai</i> and <i>Latios</i>.</p></div>
                    <div class="content_flex ">
                        <div class="trainer_6_grid trainer_background_left">
                            <p class="trainer_6_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Paul</p>  <div class="trainer_self_align_center align_center trainer_sizing flex_container"><img src="/images/trainer_images/paul.png" class="trainer_height trainer_image_border background-color-transparent sharp-image"></div></div>                              
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Aggron</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/aggron.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Gastrodon</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/gastrodon-east.png" class="trainers_pokemon small_padding"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Drapion</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/drapion.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">ninjask</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/ninjask.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Froslass</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/froslass.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">electivire</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/electivire.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_6_grid trainer_background_right">
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p> <div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_sinnoh.webp" class="trainer_height trainer_image_border "></div> </div>                              
                            <p class="trainer_6_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                            <!-- <div class="trainer_image align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_sinnoh.webp" class="trainer_height trainer_image_border "></div> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Infernape</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/infernape.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">staraptor</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/staraptor.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Buizel</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/buizel.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Torterra</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/torterra.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Gliscor</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/gliscor.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div>
                    </div>
                </div>

            </div>
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Unova Top 8</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Unova region, Ash finished in the Top 8 of the Vertress Conference. His most notable battle was against <b>Cameron</b> in the quarterfinals, where he lost in a close match. During this intense battle, Cameron's Riolu evolved into Lucario at the last minute, giving Cameron the lead and ultimately securing his victory over Ash.</div>
                    <div class="content_flex ">
                        <div class="trainer_6_grid trainer_background_left">
                            <p class="trainer_6_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Cameron</p><div class="trainer_self_align_center align_center trainer_sizing flex_container"><img src="/images/trainer_images/Cameron_BW.webp" class="trainer_height trainer_image_border background-color-transparent sharp-image"></div>
                            </div>                              
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Hydreigon</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/hydreigon.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Ferrothorn</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/ferrothorn.png" class="trainers_pokemon small_padding"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Samurott</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/samurott.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Swanna</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/swanna.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Lucario</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/lucario.png" class="trainers_pokemon"></div></div>
                           <!-- <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center"></p><div class="image_sizing background-color-transparent-blur"></div></div> -->

                        </div>
                        <div class="trainer_6_grid trainer_background_right">
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p><div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_unova.png" class="trainer_height trainer_image_border "></div></div>
                            <p class="trainer_6_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                            <!-- <div class="trainer_image align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_unova.png" class="trainer_height trainer_image_border "></div> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Boldore</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/boldore.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Oshawott</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/oshawott.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pignite</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pignite.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Unfezant</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/unfezant-female.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Snivy</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/snivy.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div>
                    </div>
                </div>

            </div> 
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Kalos Runner-Up</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Kalos region, Ash finished as the runner-up in the Lumiose Conference. His most notable battle was against Alain in the finals, where he lost in a close match. During this intense battle, both trainers utilized powerful Pokémon—Ash with his Greninja and Alain with his Mega Charizard X. Despite a valiant effort from Ash's Greninja, Alain's Mega Charizard X ultimately secured the victory, leaving Ash as the runner-up.</div>
                    <div class="content_flex ">
                        <div class="trainer_6_grid trainer_background_left">
                            <p class="trainer_6_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Alain</p><div class="trainer_self_align_center align_center trainer_sizing flex_container"><img src="/images/trainer_images/alain.webp" class="trainer_height trainer_image_border background-color-transparent sharp-image"></div></div>                            
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Tyranitar</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/tyranitar.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Weavile</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/weavile.png" class="trainers_pokemon small_padding"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Bisharp</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/bisharp.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Unfezant</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/unfezant.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Metagross</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/metagross.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Charizard-X</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/charizard-x.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_6_grid trainer_background_right">
                            <!-- <p class="trainer_intro trainer_intro_text justify_center vertical_align_bottom"><tag class="text-decoration-underline">Ash</p> -->
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p><div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container flex_end"><img src="/images/trainer_images/ash_kalos.png" class="ash_kalos_height trainer_image_border "></div></div>                            

                            <p class="trainer_6_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                            <!-- <div class="trainer_image align_center trainer_sizing justify_center flex_container flex_end"><img src="/images/trainer_images/ash_kalos.png" class="ash_kalos_height trainer_image_border "></div> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Noivern</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/noivern.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Hawlucha</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/hawlucha.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Talonflame</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/talonflame.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Goodra</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/goodra.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Ash-Greninja</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/ash-greninja.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div>
                    </div>
                </div>

            </div>
            <div class="battle_history_container">
                <div class="battle_history_title_div"><h2 class="battle_history_title "><img class='svg_button' src="/images/caret-down.svg"> Alola Champion</h2></div>
                <div class="battle_region hidden width_100">
                    <div class="flex-centered"><p class="paragraph-text ">In the Alola region, Ash emerged as the Champion of the Manalo Conference. His most notable battle was against <b>Gladion</b> in the finals, where he secured a hard-fought victory. During this intense battle, both trainers utilized legendary Pokémon—Ash with his Melmetal and Gladion with his Silvally—but it was Ash's Lycanroc (Dusk Form) that ultimately defeated Gladion's Lycanroc (Midnight Form), marking Ash's first official Pokémon League Championship title.</div>
                    <div class="content_flex ">
                        <div class="trainer_3_grid trainer_background_left">
                            <p class="trainer_3_team justify_center pokemon_title team_6"> Trainers Team</p>
                            <!-- <p class="trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Gladion</p> -->
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Gladion</p><div class="trainer_self_align_center align_center trainer_sizing flex_container"><img src="/images/trainer_images/gladion.png" class="trainer_height trainer_image_border background-color-transparent sharp-image"></div>
                            </div>
                           <div class="justify_center pokemon-team-container adjust_size"><p class="pokemon_title justify_center">Silvally</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/silvally.png" class="trainers_pokemon"></div></div>
                           <!-- <div class="trainer_image align_center trainer_sizing flex_container"><img src="/images/trainer_images/gladion.png" class="trainer_height trainer_image_border background-color-transparent sharp-image"></div> -->
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Zoroark</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/zoroark.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Lycanroc-MN</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/lycanroc-midnight.png" class="trainers_pokemon"></div></div>

                        </div>
                        <div class="trainer_3_grid trainer_background_right">
                            <div class="trainer_image trainer_flex_column trainer_width"><p class=" trainer_intro trainer_intro_text justify_center"><tag class="text-decoration-underline">Ash</p><div class="trainer_self_align_center align_center trainer_sizing justify_center flex_container"><img src="/images/trainer_images/ash_alola.webp" class="trainer_height trainer_image_border "></div></div>
                            <p class="trainer_3_team justify_center pokemon_title vertical_align_bottom team_6"> Trainers Team</p>
                           <div class="justify_center pokemon-team-container adjust_size"><p class="pokemon_title justify_center">Pikachu</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/pikachu.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Melmetal</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/melmetal.png" class="trainers_pokemon"></div></div>
                           <div class="justify_center pokemon-team-container"><p class="pokemon_title justify_center">Lycanroc-dusk</p><div class="image_sizing background-color-transparent-blur"><img src="/images/pokemon_images/lycanroc-dusk.png" class="trainers_pokemon"></div></div>
                        
                            




                        </div >
                </div>

            </div>         



        </div>






    </div>

</section>